.header_top {
    background: #a40011;
    color: #ffffff;
    text-decoration: none;
    display: block;
    cursor: pointer;

    padding: 9px 0 10px 0;
    position: relative;
    z-index: 3;
}

.header_top-text {
    font-family: var(--font-nb-architekt);
    font-size: 14px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    color: inherit;
    text-align: center;
}

.header_bottom {
    height: 64px;
}

.header_bottom-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.header_bottom-content-left,
.header_bottom-content-right {
    flex-wrap: nowrap;
    display: inline-flex;
    width: calc(50% - 50px);
}

.header_bottom-content-left {
    justify-content: flex-start;
}

.header_bottom-content-center {
    justify-content: center;
}

.header_bottom-content-right {
    justify-content: flex-end;
}

.header_bottom-content-left-item a,
.header_bottom-content-right-item a {
    font-family: var(--font-body-family) !important;
    padding: 21px 20px;
    font-size: 16px;
    line-height: 22px !important;
    letter-spacing: 0;
    text-decoration: none;
    color: #50000b;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.header_bottom-content-left-item span,
.header_bottom-content-right-item span {
    position: relative;
    display: inline-block;
    text-decoration: none !important;
    transition: text-decoration var(--duration-short) ease;
}

.header_bottom-content-left-item a:hover,
.header_bottom-content-right-item a:hover {
    color: rgb(var(--color-foreground));
    text-underline-offset: 5px !important;
}

.header_bottom-content-left-item a:hover .icon-caret,
.header_bottom-content-right-item a:hover .icon-caret {
    transform: rotate(180deg) !important;
}

.header_bottom-content-left-item a:hover span:after,
.header_bottom-content-right-item a:hover span:after {
    transform: scaleX(1);
    opacity: 1;
}

.header_bottom-content-left-item span:after,
.header_bottom-content-right-item span:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background: currentColor;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform .4s cubic-bezier(.34, 1.56, .64, 1);
    opacity: 0;
    will-change: transform, opacity;
}

.icon {
    width: 32px !important;
    height: 32px !important;
    min-width: 32px !important;
    min-height: 32px !important;
}

.icon-caret {
    right: 0;
    margin-left: 8px;
    height: 12px;
    margin-top: 0;
    transition: transform .2s ease-out !important;
}

.header_bottom-content-right-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 7px;
    gap: 12px;
}

.header_bottom-content-right-icon-user {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
}

.cart-slot {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 14px;
    font-weight: bold;
    line-height: 1;
    pointer-events: none;
}

.localization-wrapper {
    position: absolute;
    top: 10px;
    right: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 4;
    gap: 3px;
}

.dropdown-checkbox {
    display: none;
}

.dropdown-trigger {
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 14px;
    user-select: none;
}

.caret-icon {
    transition: transform 0.3s ease;
}

.dropdown-checkbox {
  display: none;
}

.dropdown-box {
  position: absolute;
  top: 110%;
  right: 0;
  width: 255px;
  height: 273px;
  background: white;
  padding: 15px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  z-index: 100;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.dropdown-checkbox:checked ~ .dropdown-box {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.dropdown-trigger .caret-icon {
  transition: transform 0.3s;
  transform: rotate(180deg);
}

.dropdown-checkbox:checked ~ .dropdown-trigger .caret-icon {
  transform: rotate(0);
}

.search-outer-border {
  border: 2px solid var(--deep-red);
  background: white;
  padding: 1px;
}

.search-inner-border {
  border: 1px solid var(--deep-red);
  padding: 5px 15px;
  display: flex;
  flex-direction: column;
}

.search-label {
  font-family: 'Share Tech Mono', monospace;
  font-size: 10px;
  color: var(--color-foreground);
  letter-spacing: 1px;
  margin-bottom: 2px;
  pointer-events: none;
}

.search-input {
  width: 100%;
  border: none;
  outline: none;
  padding: 0;
  font-family: 'Share Tech Mono', monospace;
  font-size: 14px;
  color: var(--deep-red);
  background: transparent;
  text-transform: uppercase;
}

.search-input::placeholder {
  color: rgba(80, 0, 11, 0.5);
}

.country-list {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 195px;
  overflow-y: auto;
  font-family: 'Share Tech Mono', monospace;
  text-transform: uppercase;
  padding-bottom: 10px;
}

.country-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 8px;
  color: var(--deep-red);
  font-size: 13px;
  letter-spacing: 1px;
  cursor: pointer;
  border-bottom: 1px solid #f0f0f0;
  transition: background 0.2s;
}

.currency {
  opacity: 0;
  transition: opacity 0.3s ease;
  font-weight: bold;
}

.country-list li:hover {
  background-color: #fcfcfc;
}

.country-list li:hover .currency,
.country-list li.active .currency {
  opacity: 1;
}

.country-list li.active {
  background-color: #fff5f6;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #888;
  border: 2px solid white;
  border-radius: 10px;
}