:root {
    --font-body-family: "Aeonik", sans-serif;
    --font-nb-architekt: "Share Tech Mono", monospace;
    --font-body-style: normal;
    --font-body-weight: 700;
    --font-body-scale: 1.0;
    --page-width: 150rem;
}